{
    "$schema": "https://json.schemastore.org/prettierrc",
    "arrowParens": "avoid",
    "importOrder": [
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@/(.*)",
        "^~/(.*)",
        "^[\\.]*/(.*)",
        "",
        "<TYPES>"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "importAssertions"],
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-sort-json",
        "prettier-plugin-tailwindcss",
        "prettier-plugin-sort-props"
    ],
    "printWidth": 100,
    "sortPropsCustomOrder": [
        "class name",
        "completed reference",
        "d",
        "default checked",
        "default value",
        "disabled",
        "fill",
        "href",
        "html for",
        "id",
        "key",
        "lang",
        "method",
        "name",
        "on change",
        "on click",
        "on input",
        "on submit",
        "placeholder",
        "ref",
        "reference",
        "required",
        "set todo entries",
        "stroke linecap",
        "stroke linejoin",
        "stroke width",
        "stroke",
        "title",
        "type",
        "user id",
        "view box",
        "xmlns"
    ],
    "tabWidth": 4
}
